<!doctype html>
<html ng-app="myApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>
<body>
<!--     
  <div>
    <label>Name:</label>
    <input type="text" ng-model="yourName" placeholder="Enter a name here">
    <hr>
    <h1>Hello {{yourName}}!</h1>
  </div> 
-->

<div ng-controller="myController">
  {{working}}
  <ul>
    <li ng-repeat="link in links"><a href="{{link.url}}">{{ link.title }}</a></li>
  </ul>
</div>

<!-- <script src="./main.js"></script>  -->
<script >   
angular
.module('myApp', [])
.controller('myController', function($scope, $http) {
  $scope.working="Here's where some links will go";
  $http({
    method: "GET",
    url: "http://localhost:4567/links"
  }).success(function(data){
    console.log(data);
    $scope.links = data;
        // Resolve the cross origin issue
      })
});
</script>


</body>
</html>