  <div ng-controller="viewLinks">
  
  <div class="search">
    <label>Search:</label>
      <input type="text" ng-model="search.url" placeholder="Enter a url here">
    <label>Sort:</label>
     <select name="sortBy" ng-model="sortBy">
        <option value="visits">Most Visits</option>
        <option value="created_at">Created At</option>
        <option value="updated_at">Recently Visited</option>
    </select>
  </div>
  <div>sorting by: {{sortBy}}</div>
  <table border = "1" cellspacing="0" >
    <tr>
      <th>Sites</th>
      <th>Visits</th>
    </tr>
    <tr ng-repeat="link in links | filter:search:strict | orderBy: sortBy:true">
      <td>
        <a href="{{link.base_url}}/:{{link.code}}">
          {{ link.title }}
        </a>
      </td>
      <td>{{link.visits}}</td>
    </tr>
  </table>
</div>
